-if block.images.count != 1
  #asdf.carousel.slide
    .carousel-inner
      -first = true
      -for image in block.images
        -if first
          .item.active
            =image_tag image.image(:gallery), alt: image.description
            .carousel-caption
              %p= image.description
          -first = false
        -else
          .item
            =image_tag image.image(:gallery), alt: image.description
            .carousel-caption
              %p= image.description
    %a.left.carousel-control{:href => "#asdf", "data-slide" => :prev} &lsaquo;
    %a.right.carousel-control{:href => "#asdf", "data-slide" => :next} &rsaquo;
    
    
-else
  .span12
    =image_tag block.images[0].image(:gallery), alt: block.images[0].description