.row
  .span12
    %h1= @article.title
.row
  .span12
    = image_tag @article.image.url(:gallery)
#article
  -for block in @blocks
    =render :partial => block.block_type.downcase, :locals => { :block => block }