#cover
  %h1.cover-title Magazine
  #menulist.row
    -4.times do |col|
      .span3
        - i = col
        -for article in @articles
          -if i % 4 == 0
            .article-item
              %h2
                %a= link_to article.title, read_article_path(article.id)
              = link_to image_tag(article.image.url(:medium)), read_article_path(article.id)
              %p= article.summary
          - i += 1

/ - i = 0
/ -for article in @articles
/   -if i % 3 == 0
/     <div class="row">1
/   .span4
/     %p
/       = image_tag article.image.url(:medium), size: "370x370"
/     %p
/       = link_to article.title, read_article_path(article.id)
/   -if i % 3 == 0
/     </div>2
/   - i += 1 