
@import "bootstrap";

body {
  padding-top: 60px;
  /*background-image: url(carbon_fibre.png);*/
}
#content {
}
.field_with_errors {
  $error-text: desaturate(lighten($red, 25%), 25%);
  > label, span.help-inline, span.help-block {
    color: $red;
  }
  input, textarea {
    border-color: $error-text;
    @include box-shadow(0 0 3px rgba(171,41,32,.25));
    &:focus {
      border-color: darken($error-text, 10%);
      @include box-shadow(0 0 6px rgba(171,41,32,.5));
    }
  }
  .input-prepend, .input-append {
    span.add-on {
      border-color: $error-text;
      color: darken($error-text, 10%);
    }
  }
}
