=breadcrumbs [["Articles", articles_path], ["#{@block.article.title}", @block.article], ["Block", article_block_path(@block.article, @block)]], "Image"

%p= @image.description
%p=image_tag @image.image.url 
%p
  = link_to 'Edit', edit_article_block_image_path(@block.article, @block, @image), :class => "btn"
  = link_to 'Destroy', article_block_image_path(@block.article, @block, @image), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"
